* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
}



.container {
    display: block;
    margin: 5%;
    height: 100%;
    padding: 5%;
    background-color: #f4f3f3;

}

.table-wrapper {
    margin: 10px 10px 20px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

table {
    
    font-size: 16px;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    border-radius: 15px; 
    overflow: hidden;
  }




h2 {

    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #757575;
}

caption {
    caption-side: bottom;
    margin: 14px 0px;
    font-size: 14px;
    font-style: italic;
}

table {

    margin-bottom: 30px;
}

th,
td {
    padding: 12px;
    border: 2px solid #dddddd;
    text-align: center;
  
}

th {
    background-color: #ffffff;
    color: #0080f1;
}



table td {
    border-right: 1px solid #ffffff;
    color: #757575;
  }
  
  /* Color Table Headers */
  table thead th {
    color: #ffffff;
    background: #0080f1;
  }
  
 
  /* Color Even Rows */
  table tr {
    background: #ffffff;
  }
  
